
.video-box1.background-image .video-box1{
    background: #000 !important;
}

.team-box .team-img img{
    height: 310px !important;
    object-fit: cover;
}
.header-logo img{
    width: 200px;
}

.hero-style1 {
    padding: 150px 0 150px 0;
}

 .hero-subtitle{
    color: #BF9076;
 }
 .hero-subtitle::after{
    background: #BF9076;
 }
 .text-theme{
    color: #964B00
    ;
 }

 .fixed-size {
    height: 500px; 
    width: 100%; 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* .col-lg-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
} */

.th-hero-bg{
 width: 100%;
 height: 135vh; 
}
.ins-logo {
    width: 150px;
    align-items: center !important; 
}
.ins-logo a img {
    max-width: 100%; 
    height: auto;
}
.header-logo img {
    width: 167px;
}
.shape_1{
    color: rgba(191, 144, 118, 1);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 300px; 
    width: 100%;
    margin: 12px;
}

.image-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    gap: 10px;
}
.gallery-img img{
 width: 100%;
}
.modal-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}
.modal-img img {
    width: 100px;
    border-radius: 10%;
}
.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}
.modal-title {
    flex-grow: 1;
    text-align: center;
}
.btn-close {
    position: absolute;
    right: 10px; 
}
.modal-body p {
    font-weight: 500;
}
.modal-footer{
    display: flex;
    justify-content: center;
    align-items: center;   
}
.about-logo{
    margin-left: -25px
}
.th-hero-bg {
    height: 116vh;
}







