.video-box1.background-image .video-box1{
    background: #000 !important;
}

.team-box .team-img img{
    height: 310px !important;
    object-fit: cover;
}
.header-logo img{
    width: 200px;
}

.hero-style1 {
    padding: 150px 0 150px 0;
}

 .hero-subtitle{
    color: #BF9076;
 }
 .hero-subtitle::after{
    background: #BF9076;
 }
 .text-theme{
    color: #964B00
    ;
 }

 .fixed-size {
    height: 500px; 
    width: 100%; 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* .col-lg-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
} */