/* @media(min-width:991px){
    .main-menu ul li{
        margin: 0 11px;
    }
    .header-button .th-btn {
        margin-left: 20px;
        padding: 10px 15px;
    }
    .header-layout1 .main-menu > ul > li > a{
        font-size: 11px;
    }
}
@media(max-width:1250px){
    .header-logo img{
        width: 133px;
    }
    .header-layout1 .main-menu{
        margin-left: 50px;
    }
    .header-layout1 .main-menu > ul > li > a{
        font-size: 12px;
    }
    .header-layout1 .header-button .th-btn{
        padding: 10px 7px;
        font-size: 20px;
    }
    .main-menu ul li {
        margin: 0 6px;
    }
} */
